ACME_EMAIL=mail@example.com
DOMAIN_NAME=your.domain.com
COMPOSE_PROFILES=with_traefik
ANNOUNCEMENT=

INFLUX_PASSWORD=a3f9c1e8b2d4
INFLUX_TOKEN=8f2e91a4c7b3d5e6f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3
HONEYCAR_MQTT_KEY=1234
